body, html {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 48px; 
    color: #333; 
}

.options {
    display: flex;
    gap: 60px;
    margin-top: 70px;
}

.buttons {
    display: flex;
    gap: 20px;
}

button {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px #2980b9;
}


button:active {
    box-shadow: 0 2px #2980b9;
    transform: translateY(3px);
}

.selection {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container {
    margin-top: 100px;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.grid-item {
    transition: background-color 0.1s ease; 
    flex: 1 0 calc(100% / 16); /* Default flex value, updated dynamically in JS */
    aspect-ratio: 1 / 1;
    background-color:  gray;
    box-sizing: border-box;
    border: 1px solid #000;
}
